@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins, sans-serif;    
}

.logo-letter, .logo-symbol{
    padding: 10px 0px 10px 7px;
}

.logo-symbol{
    max-height: 60px;
}

.logo-letter{
    max-height: 60px;
}

header{
    position: fixed;
    z-index: 1000;
    transition: 1;
}

.navbar {
    background: #33B8B8;
    transition: 1;
    
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #33B8B8;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.black-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.carousel-item {
    position: relative !important;
}

.carousel-item img {
    width: 100%;
    max-height: 762px;
    object-fit: cover;
}


.carousel-item a{
    position: absolute;
    top: 0;
    z-index: -1;
    filter: brightness(0.6);
}

.partially_transparent {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}

.navbar-scrolled {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}

.navbar-toggler {
    background-color: #fff;
}

.section-title {
    font-family: Poppins, sans-serif;
}

#sobre-o-restaurante, #cardapio {
    background-color: #7aeeee;
}

.text-colored {
    color: #33B8B8;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #fff;
    color: #33B8B8;
}

#cardapio h2 {
    color: #fff;
}

.nav-cardapio .nav-link {
    color: #fff;
}

.nav-cardapio .nav-link.active:hover {
    color: #0c6161;
}

.nav-cardapio .nav-link:hover {
    color: #0c6161;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.card {
    border: none;
    padding: 16px;
    border-radius: 16px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #33B8B8, -5px -5px 10px #33B8B8;
    margin-bottom: 10px;
}


.card-button {
    font-family: Poppins, sans-serif;
    border: none;
    border-radius: 8px;
    background-color: #33B8B8;
    color: #fff;
    font-weight: 500;
    height: 35px;
    margin-top: 16px;
}

.card-button a {
    text-decoration: none;
    color: #fff;
}

.card-button:hover {
    background-color: #0c6161;
}

.card-button i {
    margin-left: 3px;
}

.google-map {
     padding-bottom: 50%;
     position: relative;
}

.google-map iframe {
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: absolute;
}



@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

    .card {
        margin-right: 5px;
    }
}

@media (min-width: 767px) {
    .middle-card {
        margin-left: 10px;
        margin-right: 0px;
    }
}